/* @override 
	http://localhost:3001/assets/playgrounds/app.css?1368383148691
	http://localhost:3001/assets/playgrounds/app.css?1369013828612 */
	
	/* Color:
	NPS Green: #5e7630
	NPS Brown: #b28000
	DC Red: #c03
	DPR Green: #006940
	*/
	
	#item-view a.mapPin img{
	padding-left: 10px;
	}
	

	
	.rating {
    float:left;
    border: 0px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:100%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}



.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.star {

    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:100%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.comment {
 margin-bottom: 15px;
 margin-right: 50px;
 border-bottom: 1px solid #fff;

}
#rating {
	margin-top: 5px;
	margin-bottom: 5px;
}
/* @group General */

body {
	margin: 0px;
	padding: 0px;

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.rounded-corners {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#logo {
	min-width: 275px;
	height: 50px;
	background:transparent url(/assets/playgrounds/images/dc-playgrounds.png) no-repeat;
	position: absolute;
	left: 5px;
	bottom: 0px;
	
}

@media only screen and (max-device-width: 480px) { 
	#logo {
	display: none;
	}
}


#logo a{
	font-size: 10px;
	color: #5e7630;
	padding-left: 272px;
	bottom: 11px;
	position: absolute;
}



a {
	color: #5e7630;
	text-decoration: none;
}


/* @end */

/* @group About */
	#about {
		padding: 10px 20px;
	}

#about p {
	font-size: 24px;
}
/* @end */

/* @group Item & Items - Container for Map */

#item-border, #items-border {
  position:absolute;
	top: 75px;
	left:  50px;
	right: 50px;
	bottom: 50px;
	z-index:999999;
  background:transparent url(/assets/playgrounds/images/midmask.png) repeat;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  overflow: auto;
  }

#item-border {
	width:  400px;
	margin-left: auto;
	margin-right: auto;
}

#items-border {
overflow-y: auto;
bottom: 50px;
}

@media only screen and (max-device-width: 480px) { 

#item-border, #items-border {
  position:absolute;
	top: 45px;
	left:  15px;
	right: 15px;
	bottom: 15px;
	padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  }
  #item-border {
  	width:  auto;
  	bottom: auto;
  }
  

}

#items, #item {

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background:transparent url(/assets/playgrounds/images/midmask.png) repeat;
	overflow: hidden;
	color: #fff;;
}


#item-view .close {
  display:block;
  position:absolute;
  cursor: pointer;
  top:10px;
  right:10px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(/assets/playgrounds/images/controls.png) 0px 0px no-repeat;
  }

/* @end */




/* @group Item View - Shows single item on top of Map */
	
	#item-view {
		float: left;
		margin: 10px 20px 20px;
		
	}
	
	#item-view div.meta {
		font-size: 12px;
		margin-bottom: 2px;
		margin-top: 0;
	}
	
	#item-view .name {
		font-weight: bold;
		text-transform: capitalize;
	}
	

	
	#item-view #date {
		clear: both;
		font-size: 12px;
	}
	
	#item-view .location{
		font-size: 10px;
		
	}
	#item-view .source a{
		//text-shadow: 0px 1px 2px #333;
		//color: #7F0D29;
	}
	
	/*
		#item-view h2, #item-view h3{	
			font-weight: bold;
	text-shadow:
	 -1px -1px 0 #000,  
	  1px -1px 0 #000,
	  -1px 1px 0 #000,
	   1px 1px 0 #000;
			
			
			
			letter-spacing: 2px;
		}
		*/
		#item-view h3 {
			font-weight: normal;
		}
		#item-view h2 a{
		color:  #fff;
		}
	#item-view h2 {
	color:  #fff;
		margin-bottom: 5px;
		font-size: 28px;
		letter-spacing: 2px;
		font-weight: bolder;
		/*text-shadow:
		 -1px -1px 0 #000,  
		  1px -1px 0 #000,
		  -1px 1px 0 #000,
		   1px 1px 0 #000;*/
		   text-shadow: 0px 1px 2px #333;
	}
	
	#item-view div#note {
		font-size: 16px;
		margin: 20px;
	}
	
	/* @end */
	
	/* @group List of Items - List of items on top of Map */
	
	#item-list {
		padding: 20px;
		}
		
		.list-item {
			//width: 300px;
			min-height: 30px;
			//float: left;
			margin-bottom: 15px;
			margin-left: auto;
			clear: both;
			//width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom: 1px solid #aaa;
		}
		
		.list-item .map_pin_small {
			padding-right: 5px;
		}
		
		.list-item .title {
			margin-bottom: 3px;
			float:  left;
			width: 300px;
			font-weight: bold;
			//text-shadow: 0px .5px 1px #333;
			//clear: both;
		}
		.list-item .title a{
			//color: #E82077;
		}
		
		.list-item .name{
			font-size: 12px;
			font-weight: bold;
			float: left;
			padding-left: 2px;
		}
		
		.list-item .activities {
			float: left;
			padding-left: 5px;
		}
		
		.list-item .activities img{
			
			padding-left: 5px;
		}
		.list-item .address a{
			color: #fff;
			font-size: 12px;
			padding-left: 2px;
			float:  left;
			min-width: 300px;
		}
		
		.list-item .category{
			font-size: 12px;
			float: left;
			padding-left: 5px;
		}
		
		.list-item .note{
			font-size: 11px;
			margin: 5px;
			clear: both;
			width: 275px;
			float: left;
		}
		
		.list-item .date{
			font-size: 10px;
			float: left;
			padding-left: 2px;
		}
		
		.list-item .source{
			font-size: 10px;
			float: left;
			padding-left: 5px;
			clear: both;
		}
		
	.list-item .source a{
		//color: #E84220;
	}
	/* @end */
	
	/* @group Map Controls */
	
	.wax-tooltip {
		position:absolute;
		right:10px;
		top:65px; 
		z-index:999999;
		line-height: 20px;
		font-size: 16px;
		color: #fff;
		text-shadow: 0px 1px 2px #333;
	  min-width:180px;
	  max-width:280px;
	 
	 
		background:transparent url(/assets/playgrounds/images/midmask.png) repeat;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		padding: 5px;
		overflow: hidden;
	}
	
	
	
	.wax-tooltip-feature {
	 padding:10px 15px;
	 background:transparent url(/assets/playgrounds/images/midmask.png) repeat;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	 border-radius: 3px;
  }




.wax-tooltip .close {
  display:block;
  position:absolute;
  top:50px;
  right:15px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(/assets/playgrounds/images/controls.png) 0px 0px no-repeat;
  }
  .leaflet-top .leaflet-control {
  	margin-top: 0px;
  }
  .leaflet-left .leaflet-control {
  	margin-left: 0px;
  }
  .leaflet-container a {
  	color: #fff;
  }
  .leaflet-bar-part {
  	background-color: transparent;
  	width: 30px;
  	height:40px;
  	border: 0px;
  	background: transparent url(/assets/playgrounds/images/midmask.png) repeat;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-khtml-border-radius: 3px;
  	border-radius: 3px;
  }
  .leaflet-bar {      
  	
  	box-shadow: 0px 0px 0px #444;

  	border: 0px solid #333;
  	}
  .leaflet-zoom-box {
  	
  }
  .leaflet-control-zoom {
  text-decoration:none;
  position:absolute;
  text-shadow: 0px 1px 2px #333;
  
  color:#fff;
  line-height:30px;
  font-size:26px;
  z-index:99999;
  text-align:center;

  

  }

  .leaflet-control-zoom-in {
  	top: 10px;
    left:10px;
    position: absolute;
    }

  .leaflet-control-zoom-out {
  	top: 10px;
    left:50px;
    position: absolute;
    }
 
 @media only screen and (max-device-width: 480px) { 
 
 .leaflet-control-zoom { 
 	display: none;
 }
  }  
 

 /* @end */
 
 /* @group Floating Bar - Menu bar on top of Map */
 
 #floating-bar-border {
   position:absolute;
   right:10px;
   top: 10px;
   left: 90px;
   height: 30px;	
   background:transparent url(/assets/playgrounds/images/midmask.png) repeat;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
   border-radius: 3px;
   padding: 5px;
   overflow: hidden;
 }
 

 
 #floating-bar {

    	z-index: 999999;
    	line-height: 20px;
    	font-size: 16px;
    	color: #fff;
    	text-shadow: 0px 1px 2px #333;
    	padding-left: 10px;
    	padding-right: 10px;
    	height: 30px;
    	background:transparent url(/assets/playgrounds/images/midmask.png) repeat;
    	
    	-moz-border-radius: 3px;
    	-webkit-border-radius: 3px;
    	-khtml-border-radius: 3px;
    	border-radius: 3px;
    	overflow: hidden;
			
		}
		
	
    
    #floating-bar .buttons {
      font-size:11px;
      font-weight:bold;
      text-transform:uppercase;
      
    }
    
     #floating-bar  #filters {
     
     	    	padding-top: 3px;
    	float: right;
			letter-spacing: 1px;
		}
    
     #floating-bar #links {
         	padding-top: 3px;
    	float: left;
    }
    
    
    #floating-bar .buttons a {
      float:left;
      color:#fff;
			cursor: pointer;
			padding: 3px 15px 0px 10px;
		}
    
    #floating-bar .buttons .title {
    	padding-top: 2px;
    	float: left;
			letter-spacing: 1px;
			font-weight: normal;
		}
    
    #floating-bar .buttons .icon {
    	float:left;
      display:block;
      overflow:hidden;
     
      padding-right: 2px;
      }
    

.icon-map{
width: 24px;
height: 24px;
background: url(/assets/playgrounds/images/sprites.png) 0px -144px;
	cursor: pointer;
	display: inline-block;
}

.icon-cal{
width: 24px;
height: 24px;
background: url(/assets/playgrounds/images/sprites.png) -24px -144px;
	cursor: pointer;	
	display: inline-block;
}

.icon-list{
width: 24px;
height: 24px;
background: url(/assets/playgrounds/images/sprites.png) -48px -144px;
 	cursor: pointer;	
	display: inline-block;
}

@media only screen and (max-device-width: 480px) { 

#floating-bar-border {
   position:absolute;
   right: 0px;
   top:  0px;
   left: 0px;
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   -khtml-border-radius: 0px;
   border-radius: 0px;
   padding: 0px;
  }
 

 
 #floating-bar {

    	z-index: 999999;
    	
    	    	height: 30px;
    	
    	-moz-border-radius: 0px;
    	-webkit-border-radius: 0px;
    	-khtml-border-radius: 0px;
    	border-radius: 0px;
			
		}
 } 

 /* @end */
 
 /* @group Admin */
 
 #create-item input, #create-item select, #create-item textarea,
 #edit-item input, #edit-item select, #edit-item textarea{
 	width: 190px;
 }
 
 
 
 #create-item, #edit-item {
	width:  200px;
	overflow: hidden;
	float: left;	

}
#target {
	width: 100%;
	height: 100%
}

#dialog .label {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

#dialog .field {
	margin-top: 4px;
	margin-bottom: 4px;
}

#item-note {
	width: 175px;
}

#item-display {
	margin-left: 225px;
	height: 100%;
}

#app {
	border: 4px solid silver;
	background-color: #e7e7e7;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	
	margin: 20px;
	overflow: hidden;
}



#header {
	margin: 10px 20px 5px;
}

#header a {
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid silver;
}

div.remove-item {
	float: left;
	margin-left: 10px;
}

div.manage-item {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid silver;
	overflow: hidden;
}

.manage-item h3 {
	margin-bottom: 5px;
	margin-top: 5px;
}

div.note {
	width: 600px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.edit-item {
	float: left;
	margin-left: 10px;
}

#manage-items {
	margin-right: 50px;
	margin-left: 50px;
}

div.meta {
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}


div.item-actions {
	overflow: hidden;
	margin-top: 5px;
}







.active {
	color: red;
}



#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
	opacity: 0.25;
}
   
.window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
	background-color: #f3f3f3;
	border: 1px solid #6d6d6d;
}




 
 
/* Customize your modal window here, you can add background image too */


/* @end */